<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WDI-PROJECT-3</title>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/map.css">
    <link rel="icon" href="../public/assets/icon-round-white-on-black.png">
  </head>
  <body>

    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="/">
              HackJammer
            </a>
          </li>
          <li>
            <hr><a href="#" class="hide-menu-link">Hide Menu</a><hr>
          </li>
          <li>
            <form role="search">
              <div class="form-group">
                <li>
                  <input type="text" class="form-control" placeholder="Go to City" id="city-search">
                </li>
                <li>
                  <br><input type="text" class="form-control" placeholder="Add Address (DEBUG)" id="address">
                  <button type="submit" class="btn btn-default" id="submit">Add!</button>
                </li>
              </div>
            </form>
          </li>
          <li>
            <hr><a href="#">Login</a>
          </li>
          <li>
            <a href="#">Logout</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->
    </div>
    <!-- /#wrapper -->

    <div id="map"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/map.js"></script>
    <script src="../public/js/cities.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD3gpGk065Fu34ylIkVtqYEJ7nf0zEPh0&signed_in=true&libraries=places&callback=initMap" async defer>
    </script>

  </body>
</html>
